:root {
  --ion-color-primary: #0f6b6f;
  --ion-color-primary-rgb: 15, 107, 111;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0d5e61;
  --ion-color-primary-tint: #277a7d;

  --ion-color-secondary: #f29422;
  --ion-color-secondary-rgb: 242, 148, 34;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d4811e;
  --ion-color-secondary-tint: #f3a03b;

  --ion-color-tertiary: #0f9acb;
  --ion-color-tertiary-rgb: 15, 154, 203;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0d88b3;
  --ion-color-tertiary-tint: #27a4d0;

  --ion-color-success: #1c9d4c;
  --ion-color-success-rgb: 28, 157, 76;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #198a43;
  --ion-color-success-tint: #33a75e;

  --ion-color-warning: #e0b400;
  --ion-color-warning-rgb: 224, 180, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c59e00;
  --ion-color-warning-tint: #e3bc1a;

  --ion-color-danger: #d64545;
  --ion-color-danger-rgb: 214, 69, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bc3d3d;
  --ion-color-danger-tint: #da5858;

  --ion-color-light: #f5f7fb;
  --ion-color-light-rgb: 245, 247, 251;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dadf;
  --ion-color-light-tint: #f6f8fb;

  --ion-color-medium: #5f6b7a;
  --ion-color-medium-rgb: 95, 107, 122;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #535d6b;
  --ion-color-medium-tint: #6f7a87;

  --ion-color-dark: #1f2933;
  --ion-color-dark-rgb: 31, 41, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b242d;
  --ion-color-dark-tint: #353e47;
}
